<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">VT Shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li> -->
                <% pages.forEach(function(page) { %>
                    <% if(page.slug == "home") { %>
                        <li class="nav-item" ><a class="nav-link" href="/"><%= page.title %></a></li>
                    <% } else { %>
                        <li class="nav-item" ><a class="nav-link" href="/<%= page.slug %>"><%= page.title %></a></li>
                    <% } %>
                <% }); %>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/cart/checkout">My Cart(
                        <% if (typeof cart !== "undefined") { %>
                            <%= cart.length %>
                        <% } else { %>
                            0
                        <% } %>    
                    )</a>
                </li>

                <% if (user) { %>
                    <li class="nav-item"><a href="/users/logout" class="nav-link">Hi <%= user.name %>  (Logout)</a></li>
                <% } else { %>
                    <li class="nav-item"><a class="nav-link" href="/users/register">Register</a></li>
                    <li class="nav-item"><a href="/users/login" class="nav-link">Login</a></li>
                <% } %>

                <% if (user && user.admin == 1) { %>
                    <li class="nav-item"><a href="/admin/pages" class="nav-link">Admin area</a></li>
                <% } %>
            </ul>
        </div>
    </nav>
    <div class="container">
        <%- messages('messages', locals) %>

        <% if (errors) { %>
            <% errors.forEach((error) => { %>
                <div class="alert alert-danger">
                    <%= error.msg %>
                </div>
            <% }); %>
        <% } %>

        <div class="row mt-4">
            <div class="col-xs-12 col-md-3">
                <h3>Categories</h3>
                <ul class="list-group">
                    <li class="list-group-item"><a href="/products">All products</a></li>
                    <% categories.forEach((cat) => { %>
                        <li class="list-group-item"><a href="/products/<%= cat.slug %>"><%= cat.title %></a></li>
                    <% }); %>
                </ul>
            </div>
            <div class="col-xs-12 col-md-1"></div>
            <div class="col-xs-12 col-md-8">
    